
  <div class="row justify-content-between">
    <div class="col">
      <button type="button" class="btn btn-primary mb-2" name="button" (click)="getInfoFromService()">Employee List</button>
    </div>
    <div class="col">
      <form class="form-inline  float-right" #frm="ngForm" (ngSubmit)="updateInfo(frm)">
        <label class="sr-only" for="location">Location</label>
        <div class="input-group mb-2 mr-sm-2">
          <input type="text" class="form-control" id="location" name="location" placeholder="U.S.A." ngModel>
        </div>

        <button type="submit" class="btn btn-warning mb-2" name="button">Add Location</button>
      </form>
    </div>
  </div>


<div class="card-deck">
  <div *ngFor="let info of infoReceived" class="card">
    <div class="card-body">
      <h5 class="card-title">{{ info.id }}</h5>
      <p class="card-text">{{ info.name }}</p>
      <p class="card-text"><small class="text-muted">{{ info.email }}</small></p>
      <p class="card-text"><small class="text-muted float-right">{{ info.location }}</small></p>
    </div>
  </div>
</div>


