$dark: purple;
//$jumbotron-bg: #333;
$primary: limegreen;
//$body-bg: #555;
@import '~bootstrap/scss/bootstrap';
// Set the full page height so we can stick the footer to the bottom
html,
body {
  height: 100%;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
